#main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: white;
}


#main-container {
    #header {
        background-color: white;
        grid-row: 1/1;
        grid-column: 1/1;
        height: 18%;
        margin-bottom: 0px;
        font-size: 0px;
        float: left;
        clear: none;
    }

    #panels-info {
        padding-top: 40px;
    }


    #background-colors {
        background-image: linear-gradient(#1F0A02, #AE431F); 
        color: white;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }


    .mountainsCombined {
        width: 100%;
    }

    .single-room-panel-name {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 4%;
    }

}




@media only screen and (max-width: 400px) {
    #main-container {
        margin: 0;
    }

}

@media only screen and (max-width: 600px) {
    .individual-rows {
        margin-bottom: 2%;
        font-size: 20px;
    }

    .single-room-panel-name {
        font-size: 1.8em;
    }


    #panels-info {
        display: flex;
        flex-direction: column;
    }

    .left-side, .right-side {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .individual-rows {
        font-size: 1.4em;
    }

    .single-room-panel-name {
        font-size: 2.4em;
    }

    #background-colors {
        margin-top: 0px;
    }


    #panels-info {
        display: flex;
        flex-direction: row;
    }

    .is-full-class {
        .left-side {
            width: 40%;
        }

        .right-side {
            width: 60%;
        }
    }
    
    .is-small-class {
        .left-side {
            width: 40%;
        }
    
        .right-side {
            width: 60%;
        }
    }

}

@media only screen and (min-width: 1500px) {
    .individual-rows {
        font-size: 1.8em;
    }
}


@media only screen and (min-width: 3500px) {
    .individual-rows {
        font-size: 3.4em;
    }

    .single-room-panel-name {
        font-size: 3.8em;
    }

    .is-full-class {
        .left-side {
            width: 40%;
        }
    
        .right-side {
            width: 60%;
        }
    }
    
    .is-small-class {
        .left-side {
            width: 40%;
        }
    
        .right-side {
            width: 60%;
        }
    }
    
}