#main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: white;
}


#main-container #header {
    background-color: white;
    grid-row: 1/1;
    grid-column: 1/1;
    margin-bottom: 0px;
    font-size: 0px;
    float: left;
    clear: none;
}

#main-container #panels-info {
    padding-top: 10px;
}





#main-container #background-colors {
    background: url('../../assets/pictures/2023_Menu_Screen.png') repeat fixed center;
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


#main-container .mountainsCombined {
    width: 100%;
}

#main-container .single-room-panel-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    color: #fef110;
    background-color: black;
    box-shadow: 2px -2px 10px #fef110;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;
}

#main-container .single-room-panel-name span:first-child{
    padding-right: 0.3em;
    border-right: 4px solid #fef110;
}

#main-container .single-room-panel-name span:last-child{
    margin-left: 0.3em;
}


#main-container .empty-message {
    font-size: 2em;
    width: 70%;
    border-radius: 7px;
    margin: 5px auto 50px auto;
    padding: 10px 0px;
    color: white;
    font-family: 'Helvetica Neue';
    color: #1F0A02;
    font-weight: 700;
}

#main-container .empty-message.tan {
    background-color: #AC7FDF;
}

#main-container .empty-message.orange {
    background-color: #071965;
}


.column-headers {
    font-size: 2.0em;
    font-weight: 700;
    color: #fef110;
    background-color: black;
    box-shadow: 2px 2px 10px #fef110;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;

    /* For purple theme
    background-color: rgba(178, 181, 225, 0.2);
    border: 2px solid #B2B5E1;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #B2B5E1; */
}

#main-container .individual-rows {
    font-family: 'Roboto';
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px #fef110;
    color: #E8A200;

    /* For purple theme
    background-color: rgba(178, 181, 225, 0.2);
    border: 2px solid #B2B5E1;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #B2B5E1;
    color: #B2B5E1; */
}




@media only screen and (max-width: 400px) {
    #main-container {
        margin: 0;
    }

}

@media only screen and (max-width: 600px) {
    .individual-rows {
        margin-bottom: 2%;
        font-size: 20px;
    }


    #panels-info {
        display: flex;
        flex-direction: column;
    }

    .left-side, .right-side {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    #main-container #header {
        height: 10%;
    }

    .individual-rows {
        font-size: 1.4em;
    }

    #background-colors {
        margin-top: 0px;
    }


    #panels-info {
        display: flex;
        flex-direction: row;
    }

    .is-full-class .left-side {
        width: 40%;
    }

    .is-full-class .right-side {
        width: 60%;
    }
    
    .is-small-class .left-side {
        width: 40%;
    }

    .is-small-class .right-side {
        width: 60%;
    }

}

@media only screen and (min-width: 1500px) {
    .individual-rows {
        font-size: 1.8em;
    }
}


@media only screen and (min-width: 3500px) {
    .individual-rows {
        font-size: 1.8em;
    }


    .is-full-class .left-side {
        width: 40%;
    }

    .is-full-class .right-side {
        width: 60%;
    }
    
    .is-small-class .left-side {
        width: 40%;
    }

    .is-small-class .right-side {
        width: 60%;
    }

    #main-container #header {
        height: auto;
    }

    .mountainsCombined {
        width: 100%;
        height: 60px;
    }
    
}