
.individual-rows.full-version {
    font-family: 'Helvetica Neue';
    margin: 0 auto 30px auto;
}

.panel-name-full, .location-area, .time-area {
    vertical-align: middle;
    margin: auto 0;
}


/* add back in for an auto scrolling display
#scroll-schedule {
    overflow-y: scroll;
    height: calc(100vh - 100px);
} */



.panel-name-long, .location-area {
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
}

.column-headers {
    font-size: 2.0em;
    font-weight: 700;
    color: #fef110;
    background-color: black;
    box-shadow: 2px 2px 10px #fef110;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;

    /* For purple theme
    background-color: rgba(178, 181, 225, 0.2);
    border: 2px solid #B2B5E1;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #B2B5E1; */
}

.column-headers span:first-child {
    margin-left: 10px;
}


.gridded-area {
    text-align: left;
}

.time-area, .panel-name-full, .location-area {
    text-align: left;
}

.icon-area {
    height: 100%;
    font-size: 1.3em;
    justify-content: center;
    flex-direction: column;
    color: white;
 }


 .one-icon {
    width: 20px;
    padding: 5px 5px 1px 5px;
    border-radius: 5px;
}


.time-area {
    white-space: nowrap;
}


.start-time {
    margin-right: 3px;
}

.end-time {
    margin-left: 3px;
}


.panel-name-full {
    display: inline-block;
    text-align: left;
}


.column-headers, .gridded-area {
    display: grid;
}





@media only screen and (min-width: 1301px) {
    .column-headers, .gridded-area {
        grid-template-columns: 24% 38% 38%;
    }

    .individual-rows.full-version {
        font-size: 1.2em;
        margin-bottom: 0.1%;
        padding: 0px;
    }
    .panel-name-long, .location-area {
        width: 230px;
    }

    .icon-area {
        display: inline;
        margin: 0px 16px 0px 10px;
    }

}



@media only screen and (min-width: 2000px) {
    .column-headers, .gridded-area {
        grid-template-columns: 20% 40% 40%;
    }

    .individual-rows.full-version {
        font-size: 1.2em;
    }

    .panel-name-long, .location-area {
        width: 300px;
    }
}

@media only screen and (min-width: 2500px) {
    .column-headers, .gridded-area {
        grid-template-columns: 19% 40.5% 40.5%;
    }

    .individual-rows.full-version {
        font-size: 1.5em;
    }

    .panel-name-long, .location-area {
        width: 430px;
    }
}

@media only screen and (min-width: 3200px) {
    .column-headers, .gridded-area {
        grid-template-columns: 15% 42.5% 42.5%;
    }

    .location-area {
        width: auto;
    }

    .panel-name-long {
        width: 700px;
    }
}

@media only screen and (min-width: 4200px) {

    .individual-rows.full-version {
        font-size: 1.7em;
    }

    .location-area {
        width: auto;
    }

    .panel-name-long {
        width: 1000px;
    }
}

@media only screen and (max-width: 1300px) {
    .column-headers, .gridded-area {
        grid-template-columns: 32% 33% 33%;
    }

    .individual-rows.full-version {
        font-size: 1.2em;
        margin: 0;
        padding: 0px;
    }

    .panel-name-long, .location-area {
        width: 110px;
    }

    .icon-area {
        margin: 0px 10px;
    }

    .at-icon {
        width: 20px;
     }
}

@media only screen and (max-width: 890px) {
    .column-headers, .gridded-area {
        grid-template-columns: 37% 38% 25%;
    }

    .individual-rows.full-version {
        font-size: 1em;
        margin: 0;
        padding: 0px;
    }

    .panel-name-long, .location-area {
        width: 70px;
    }

    .icon-area {
        margin: 0px 10px;
    }

    .at-icon {
        width: 20px;
     }
}

@media only screen and (max-width: 650px) {
    .column-headers, .gridded-area {
        grid-template-columns: 35% 45% 20%;
    }

    .individual-rows.full-version {
        font-size: 1em;
        margin: 0;
        padding: 0px;
    }

    .panel-name-long, .location-area {
        width: 90px;
    }

    .icon-area {
        margin: 0px 10px;
    }

    .at-icon {
        width: 20px;
     }
}

@media only screen and (max-width: 600px) {
    .column-headers, .gridded-area {
        grid-template-columns: 35% 35.5% 29.5%;
    }

    .individual-rows.full-version {
        font-size: 1em;
        margin: 0;
        padding: 0px;
    }

    .panel-name-long, .location-area {
        width: 90px;
    }

    .icon-area {
        margin: 0px 10px;
    }

    .at-icon {
        width: 20px;
     }
}