#generic-info-section {
    box-sizing: content-box;
    padding: 5px;
    color: #1F0A02;
    font-family: 'Helvetica Neue';
}

#generic-info-section {

    .generic-horizontal {
        width: 50%;
        border-color: #1F0A02;
        margin-bottom: 0px;
    }

    .guidebook-text {
        font-weight: 700;
        margin-bottom: 0px;
        display: block;
    }

    .guidebook-text-qrCode {
        display: block;
    }
}

.orangish {
   background-color: #C67B62;
   border-radius: 10px;
}

.yellowish {
    background-color: #F2CC8A;
}

.flexed-content-generic {
    display: flex;
}


.qrCode {
    display: block;
}




@media only screen and (max-width: 400px) {
    #generic-info-section {
        width: auto;
        padding: 5px 0px;
    }
}


@media only screen and (max-width: 600px) {

    .guidebook-text {
        text-align: center;
    }

    .guidebook-text-qrCode {
        width: 70%;
        margin: 0 auto;
    }

    .flexed-content-generic {
        flex-direction: column;
        justify-content: center;
    }

    #generic-info-section {
        width: 90%;
        margin: 5px auto 30px auto;
        font-size: 20px;
    }

    .guidebook-text {
        font-size: 0.8em;
        margin-top: 5px;
    }

    .qrCode {
        width: 90%;
    }
}

@media only screen and (max-width: 790px) {

    .guidebook-text-qrCode {
        width: 40%;
    }
}


@media only screen and (min-width: 601px) {

    .guidebook-text {
        text-align: left;
        margin-left: 16px;
        font-size: 0.5em;
    }

    .guidebook-text-qrCode {
        width: 60%;
    }

    .flexed-content-generic {
        flex-direction: row;
        justify-content: center;
    }

    #generic-info-section {
        width: 85%;
        margin: 5px auto 50px auto;
        font-size: 30px;
    }

    .guidebook-text {
        font-size: 0.7em;
        margin-top: 5px;
    }

    .qrCode {
        width: 90%;
    }

    .guidebook-text-qrCode {
        margin: auto 0;
    }

}

@media only screen and (min-width: 1280px) {
    .guidebook-text {
        text-align: left;
        margin-left: 12px;
        font-size: 0.7em;
    }

    .guidebook-text-qrCode {
        width: 60%;
    }
}

@media only screen and (min-width: 2050px) {
    .guidebook-text {
        text-align: left;
        margin-left: 20px;
        font-size: 0.9em;
    }

    .guidebook-text-qrCode {
        width: 40%;
    }
}

@media only screen and (min-width: 2500px) {
    .guidebook-text {
        margin-left: 10%;
    }
    .guidebook-text-qrCode {
        width: 30%;
    }
    
}
