@import "../../assets/styles/panel-layout";


.panel-time {
    display: inline-block;
    width: 40%;
    margin: 0 auto 0 0;
}

.row-divider-time {
    display: inline-block;
    width: 9%;
    margin: 0 15% 0 6%;
}

.panel-name {
    display: inline-flex;
    text-align: left;
    width: 50%;
    margin: 0 0 0 auto;
    vertical-align: center;
    text-align: left;
}

.row-divider-name {
    display: inline-block;
    width: 40%;
    margin: 0 0 0 auto;
}


.line-separate-place {
    display: block;
}


@media only screen and (min-width: 601px) {
    .panel-time {
        vertical-align: middle;
    }
}

@media only screen and (max-width: 600px) {
    .panel-time {
        vertical-align: bottom;
    }
}
