#clock-container {
    vertical-align: middle;
    margin: auto 0;
    padding-right: 10px;
    font-size: 0.9em;
}

.table-icon, .clock-icon {
    display: inline-block;
}

.date-area {
    margin-bottom: 5px;
}


@media only screen and (max-width: 600px) {
    #clock-container {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .informational-section {
        margin: 10px 10%;
    }
}


@media only screen and (min-width: 601px) {
    #clock-container {
        margin: 20px 10px;
        text-align: center;
    }
}


@media only screen and (min-width: 3500px) {
    #clock-container {
        font-size: 1.3em;
    }
    
}