#map-section {
    width: 98%;
    margin: 0 auto 0 auto;
    padding: 0px 0px 20px 0px;
    border: 2px solid #B2B5E1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 3px #B2B5E1;
}

.map-header {
    height: 30px;
    background-color: rgba(178, 181, 225, 0.1);
    border-bottom: 2px solid #B2B5E1;
    box-shadow: 2px 2px 3px #B2B5E1;
    margin-bottom: 20px;
    color: #B2B5E1;
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}


.mapPictures {
    width: 100%;
} 

#show-map {
    background-color: #B2B5E1;
    margin: 10px auto;
    width: 100px;
    box-sizing: content-box;
    padding: 10px;
    color: #1F0A02;
    font-weight: 700;
    cursor: pointer;
    border-radius: 7px;
    font-size: 1.2em;
}

.map-header #header-text {
    align-self: center;
    text-align: center;
    margin: 0 auto 0 auto;
}

.map-header #map-toggle {
    margin: 0 3px 0 auto;
    color: #071965;
    text-align: right;
    cursor: pointer;
}

#map-toggle img {
    width: 25px;
}


.map-orangish #map-toggle, .map-orangish #show-map, .map-orangish .map-header {
    background-color: #071965;
}

.map-orangish #map-section {
    border: 2px solid #071965;
}


@media only screen and (max-width: 600px) {
    /* #map-section {
        width: 90%;
    } */

    #map-toggle {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 660px) {
    #header-text {
        font-size: 0.7em;
        line-height: 0.8em;
    }
}



@media only screen and (min-width: 601px) {
    /* #map-section {
        width: 85%;
    } */
}



@media only screen and (min-width: 3500px) {
    #header-text {
        font-size: 1.3em;
    }

    #map-toggle {
        font-size: 1.3em;
    }
    
    .map-header {
        height: 50px;
    }
}