#loading-container {
    margin: 5% auto 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loader-animation {
    border: 10px solid white;
    border-top: 10px solid #B2B5E1;
    margin: 15px auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }

  .loading-text {
      font-size: 1.5em;
      font-weight: 800;
  }
  
  @keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
  }


  @media only screen and (min-width: 3500px) {
    .loader-animation {
        border: 20px solid white;
        border-top: 20px solid #B2B5E1;
        margin: 20px auto;
        width: 150px;
        height: 150px;
      }
    
      .loading-text {
          font-size: 2.5em;
      }
}